.btn {
  display: inline-block;
  cursor: pointer;
  padding: 1rem 2rem;
  background: #ccc;
  color: #000;
  border-radius: 15px;
  border: none;
}

.active {
  background: red;
  color: white;
}
.disabled {
  background: #f2f2f2;
  color: #ccc;
  cursor: not-allowed;
}

/* ToggleButton.module.css */
